@page "/grocerystore" 
@using System.Collections;
@using System.Collections.Generic;

@* <AddNewIsle
    AddItemToisle="AddItemAtIsle"
/>  *@

<h3>GroceryStore</h3>

<br> @* use CSS probably *@

<ul>
    @foreach (var isle in isleList) 
    {
        <li> 
            Isle @isle.isleNumber , Description: @isle.isleName
            <ul>
                @foreach (var item in isle.isleItems) 
                {
                <li>
                    Item: @item.itemName
                    <br> Brand: @item.brand 
                    <br> Price: @String.Format("${0:#,##0.00}", (@item.price)) @* Format currency in data validation also possible... but doesn't work idk :/ *@
                    <br> Quantity: @item.qty
                    <button class="btn btn-primary" 
                    @onclick="()=> item.qty++">
                    Increase</button> 
                    <button class="btn btn-primary" @onclick="()=> AddQuantity(item, 1)">Increase</button>
                    <button class="btn btn-primary" @onclick="()=> item.qty--">Decrease</button>
                </li>
                }
            </ul>
        </li> 
    }
</ul>

<input placeholder="Add isle" @bind="newIsle" />
<button @onclick="AddIsle">Add Isle</button>

<br/>

<input placeholder="New food item name" @bind="newItemName" />

<input placeholder="New food item price" @bind="newPrice" />

<input placeholder="New food item brand" @bind="newBrand" />

<input placeholder="New food item quantity" @bind="newQty" />

<input placeholder="Isle number" @bind="isleIndex" />

<button @onclick="SendToGrocerystore">Confirm</button>

@code {

    private string newIsle;

    public static List<GroceryIsle> isleList = new List<GroceryIsle>() //declare list as static for "public" use by other components... not sure if correct solution, but works
    {
        new GroceryIsle() 
        { 
            isleName = "produce", isleNumber = 0, isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "Apple", brand = "Gala", price = 0.5, qty = 0
                },
                new FoodItem()
                { 
                    itemName = "Banana", brand = "Chiquita", price = 0.3, qty = 0
                },
            }
        },
        new GroceryIsle() 
        { 
            isleName = "breakfast", isleNumber = 1, isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "Crackers", brand = "Ritz", price = 3, qty = 0
                },
                new FoodItem()
                { 
                    itemName = "Coffee", brand = "folgers", price = 15, qty = 0
                },
            }
        },
        new GroceryIsle() 
        {
            isleName = "beverage", isleNumber = 2, isleItems = new List<FoodItem>() 
            { 
                new FoodItem()
                { 
                    itemName = "Soda", brand = "Coca-Cola", price = 6, qty = 0
                },
                new FoodItem()
                { 
                    itemName = "Fruit-juice", brand = "Minute Maid", price = 4, qty = 0
                },
            }
        }
    }; 

    private void AddIsle() 
    {
        if(!string.IsNullOrWhiteSpace(newIsle)) 
        {
            isleList.Add(new GroceryIsle { isleName = newIsle });
            newIsle = string.Empty;
        }
    }
    private void AddQuantity(FoodItem item, int amountToChange)
    {
        if (item.qty >= 0 && item.qty <= 20) 
        {
            item.qty = item.qty + amountToChange;
        }
    }

    public string newItemName;

    public double newPrice;

    public string newBrand;

    public int newQty;
    
    public int isleIndex;

    @* public void SendToGrocerystore()
    {
        for(int i = isleList.Count - 1; i >= 0; i--)
        {
            if (i == isleIndex
            && !string.IsNullOrWhiteSpace(newItemName) 
            && !String.IsNullOrEmpty(newQty.ToString())
            && !string.IsNullOrWhiteSpace(newBrand)
            && !double.IsNaN(newPrice)) 
            {
                isleList[i].isleItems.Add(
                    new FoodItem
                    {
                        itemName = newItemName, brand = newBrand, price = newPrice, qty = newQty
                    }
                );
            };
        }
    } *@
    public void SendToGrocerystore() {
        isleList[isleIndex].isleItems.Add(
            new FoodItem
            {
                itemName = newItemName, brand = newBrand, price = newPrice, qty = newQty
            }
        );
    }
}