@page
@model RazorPagesChess.Pages_Chess.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chess[0].quardLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chess[0].quardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chess[0].inCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chess[0].colour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chess) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quardLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.colour)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
